.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;    
    margin-right: 93px;
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.logo-studio-theme-light {
    color: var(--secondary-color);
}

.logo-studio-theme-dark {
    color: #000;
}